/* intro */
.introanimation {
  animation-name: intro;
  animation-duration: 15s;
}

@keyframes intro {
  0% {background-color: black;}
  95% {background-color: red;}
  100% {background-color: black;}
}


/* main */
body {
  background-color: black;
  margin: 0 auto 0 auto;
}

#title {
  display: block;
  margin: 10px auto 10px auto;
}

canvas {
  display: block;
  margin: 20px auto 20px auto;
  padding: none;
  border: 5px white solid;
}

#prompt {
  position: absolute;
  left: 50%;
  margin-left: -65px;
  top: 300px;
  background-color: inherit;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 30px;

}

/* Menu */
.button {
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 30px;
  text-align: center;
}
.button:hover {
  color: red;
}

#startbutton {
  position: absolute;
  left: 50%;
  margin-left: -65px;
  top: 320px;
}

#musicbutton {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 350px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.2s, opacity 1.2s linear;
}

/* HUD in game */
.hud {
  position: absolute;
  top: 585px;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 20px
}

#healthdisplay {
  left: 230px;
}

#playerscore {
  right: 230px;
}

#currentlevel {
  left: 27%;
  top: 10px;
}