body {
  background-color: black;
  margin: 0 auto 0 auto;
}

#title {
  display: block;
  margin: 10px auto 10px auto;
}

canvas {
  display: block;
  margin: 20px auto 20px auto;
  padding: none;
  border: 5px white solid;
}

/* Menu */
.button {
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 30px;
  text-align: center;
}
.button:hover {
  color: red;
}

#startbutton {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 300px;
}